/* Cozinha.module.css */

.container {
  background-color: #c5fccd;
  min-height: 100vh;
  padding: 30px;
}

.title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.orderList {
  list-style: none;
  padding: 0;
}

.orderItem {
  margin-bottom: 20px;
}

.orderItem button {
  background-color: white;
  color: #333;
  border: none;
  padding: 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
}

.orderItem button:hover {
  background-color: #b4ecb1;
}
